@page "/"

<PageTitle>محاسبه قیمت فلزات گرانبها</PageTitle>

<div class="container mt-4">
    <div class="jumbotron">
        <h1 class="display-4">سامانه محاسبه قیمت فلزات گرانبها</h1>
        <p class="lead">
            با استفاده از این سامانه می‌توانید قیمت انواع فلزات گرانبها را محاسبه کنید.
        </p>
        <hr class="my-4">
        <p>برای شروع، یکی از گزینه‌های زیر را انتخاب کنید:</p>
        <div class="row mt-4">
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">طلا ۲۴ عیار</h5>
                        <p class="card-text">محاسبه قیمت طلای ۲۴ عیار بر اساس انس جهانی و قیمت دلار</p>
                        <a href="/gold24" class="btn btn-primary">محاسبه</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">طلا ۱۸ عیار</h5>
                        <p class="card-text">محاسبه قیمت طلای ۱۸ عیار بر اساس انس جهانی و قیمت دلار</p>
                        <a href="/gold18" class="btn btn-primary">محاسبه</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">سکه امامی</h5>
                        <p class="card-text">محاسبه قیمت تقریبی سکه امامی بر اساس انس جهانی و قیمت دلار</p>
                        <a href="/coin" class="btn btn-primary">محاسبه</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 mb-3">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">نقره ۹۹۹</h5>
                        <p class="card-text">محاسبه قیمت نقره ۹۹۹ بر اساس انس جهانی و قیمت دلار</p>
                        <a href="/silver" class="btn btn-primary">محاسبه</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
